<!DOCTYPE html>
<html lang="en">

    <%- include('../views/partials/head.ejs') %>

<body>
    <%- include('../views/partials/header.ejs') %>

    <main id="maketheoutfitresults">
    <h1><%= title %></h1>
    <h2><%= clothes.name %></h2>
    <img src="<%= clothes.image %>">
    
    <h3><%= clothes.merk %></h3>
    <h3><%= clothes.material %></h3>
    <h4>Categories: </h4>
    <h5>
        <% clothes.categories.forEach(function(category){ %>
        <li><%= category %></li>
        <% }) %>
        </h5>
        <p><%= clothes.beschrijving %></p>
        </main>

</body>
<script src="/js/script.js"></script>
</body>
</html>
