<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>MatchingClothing</title>
</head>

<body>
    <%- include('../views/partials/header.ejs') %>

        <main>
          <h1><%= title %></h1>

          <article> 
            <h2><%= maketheoutfit.name %></h2>
            <h3><%= maketheoutfit.image %></h3>
            <h3><%= maketheoutfit.merk %></h3>
            <h3>Categories: </h3>
                <% maketheoutfit.categories.forEach(function(category){%>
                <h4><%= category %></h4>
                <%= }) %>
      </article>
 

        </main>

</body>

</html>