<!DOCTYPE html>
<html lang="en">

    <%- include('../views/partials/head.ejs') %>

<body>
    <%- include('../views/partials/header.ejs') %>

        <main>
    <h1><%= title %></h1>
    <h2><%= clothes.name %></h2>
    <img src="<%= clothes.image %>">
    <h3><%= clothes.merk %></h3>
    <h3>Categories: </h3>
    <ul>
        <% clothes.categories.forEach(function(category){ %>
        <li><%= category %></li>
        <% }) %>
    <p><%= clothes.id %></p>
        </main>

</body>

</html>