<!DOCTYPE html>
<html lang="en">

  <%- include('../views/partials/head.ejs') %>

<body>
  <%- include('../views/partials/header.ejs') %>

    <main id="maketheoutfit">
      <section>
        <button class="menuknop"></button>
        <span class="dot2"></span>
        <img src="pen.png" alt="pen">
      </section>
      <ul>
        <li class="submenuknop"><a>Merken</a></li>
        <ol>
          <div>
            <input type="checkbox">
            <label class="container">H&M
              <span class="checkmark"></span>
            </label>
          </div>

          <div>
            <input type="checkbox">
            <label>ZARA</label>
          </div>

          <div>
            <input type="checkbox">
            <label>Bershka</label>
          </div>
        </ol>
        <li><a>Prijs</a></li>
        <li class="submenuknop"><a>Categories</a></li>
        <ol>
          <div>
            <input type="checkbox">
            <label class="container">Dress
              <span class="checkmark"></span>
            </label>
          </div>

          <div>
            <input type="checkbox">
            <label>Skirt</label>
          </div>

          <div>
            <input type="checkbox">
            <label>Jeans</label>
          </div>
        </ol>
        <a class="submitknop">Done & Search</a>
      </ul>

    
        <article>
      <% maketheoutfit.forEach(function(maketheoutfit){ %>
          <h2><%= maketheoutfit.name %></h2>
          <img src="<%= maketheoutfit.image %>">
          <h3><%= maketheoutfit.merk %></h3>
          <h3>Categories: </h3>
          <% maketheoutfit.categories.forEach(function(category){ %>
          <h4><%= category %></h4>
            <% }) %>
              <p><a href="maketheoutfit/<%= maketheoutfit.id %>">More details</a></p>

              <% }) %>
        </article>
      







    </main>
    <script src="/js/script.js"></script>
</body>

</html>