<!DOCTYPE html>
<html lang="en">

  <%- include('../views/partials/head.ejs') %>

<body>
  <%- include('../views/partials/header.ejs') %>

    <main id="maketheoutfit">
      <section>
        <button></button>
        <img src="pen.png" alt="pen">
        <a href="/maketheoutfit/chosenclothing"></a>
        <img src="hartje.svg" href="/maketheoutfit/chosenclothing" alt="a heart">
      </section>
      <ul>
        <li class="submenuknop"><a>Merken</a></li>
        <ol>
          <div>
            <input type="checkbox">
            <label class="container">H&M
              <span class="checkmark"></span>
            </label>
          </div>

          <div>
            <input type="checkbox">
            <label>ZARA</label>
          </div>

          <div>
            <input type="checkbox">
            <label>Bershka</label>
          </div>
        </ol>
        <li><a>Prijs</a></li>
        <li class="submenuknop"><a>Categories</a></li>
        <ol>
          <div>
            <input type="checkbox">
            <label class="container">Dress
              <span class="checkmark"></span>
            </label>
          </div>

          <div>
            <input type="checkbox">
            <label>Skirt</label>
          </div>

          <div>
            <input type="checkbox">
            <label>Jeans</label>
          </div>
        </ol>
        <a class="submitknop">Done & Search</a>
      </ul>

      <article>
      <% maketheoutfit.forEach(function(clothes){ %>
      <h2><%= clothes.name %></h2>
          <img src="<%= clothes.image %>">
          <img class="hartje" src="hartje.svg" alt="a heart">
          <h4><%= clothes.merk %></h4>
          <h5>Categories: 
          <% clothes.categories.forEach(function(category){ %>
          <%= category %>
            <% }) %></h5>
              <a href="maketheoutfit/<%= clothes.id %>">More details</a>
              <% }) %>
        </article>
        <%_ %>

       <nav>
       <a href=" "></a>
       </nav>



      
        

    </main>
    <script src="/js/script.js"></script>
</body>

</html>