<!DOCTYPE html>
<html lang="en">
  <%- include('../views/partials/head.ejs') %>

  <body>
    <%- include('../views/partials/header.ejs') %>

    <main id="maketheoutfit">
      <section>
        <button></button>
        <img src="pen.png" alt="pen" />
        <a href="/maketheoutfit/chosenclothing"></a>
        <img
          src="hartje.svg"
          href="/maketheoutfit/chosenclothing"
          alt="a heart"
        />
      </section>

      <form action='/maketheoutfit' method="post">
        <ul>
          <li class="submenuknop"><a>Merken</a></li>
          <ol>
            <input type="checkbox" name="merken" value="H&M" />H&M
            <label>H&M</label>

            <div>
              <input type="checkbox" name="merken" value="ZARA" />
              <label>ZARA</label>
            </div>

            <div>
              <input type="checkbox" name="merken" value="Bershka" />
              <label>Bershka</label>
            </div>
          </ol>

          <li class="submenuknop2"><a>Prijs</a></li>

          <li id="submenuknop3"><a>Categories</a></li>
          <ol id="menulijst3">
            <input type="checkbox" name="categories" value="Dress" />
            <label>Dress</label>

            <div>
              <input type="checkbox" name="categories" value="Skirt" />
              <label>Skirt</label>
            </div>

            <div>
              <input type="checkbox" name="categories" value="Jeans" />
              <label>Jeans</label>
            </div>
          </ol>

          <button id="submitbutton " type="submit" class="submitknop">
            Done & Search
          </button>
        </ul>
      </form>

      <article>
        <% maketheoutfit.forEach(function(clothes){ %>
        <h2><%= clothes.name %></h2>
            <img src="<%= clothes.image %>">
            <form action="/maketheoutfit/chosenclothing" method="POST">
            <button type="submit" name="saveit" value="<%= clothes._id %>"><img id="hartButton"class="hartje" src="hartje.svg" alt="a heart"></button>
            </form>
            <h4><%= clothes.merk %></h4>
            <h4><%= clothes.category %></h4>
            <h5>Categories: 
            <% clothes.categories.forEach(function(category){ %>
            <%= category %>
              <% }) %></h5>
                <a href="maketheoutfit/<%= clothes.id %>">>See this item</a>
                <% }) %>
          </article>
      

      <nav>
        <a href=" "></a>
      </nav>
    </main>
    <script src="/js/script.js"></script>
  </body>
</html>
